---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/pavel.png"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Pavel
        </h4>
        <p class="text-sm text-muted-400">Barber</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Specialized in haircuts and beard trimming.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <!-- <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:calendar-check-duotone"></iconify-icon>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:chat-circle-duotone"></iconify-icon>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:user-duotone"></iconify-icon>
          </button>
        </div> -->
        <div class="flex items-center justify-end gap-2">
          <iconify-icon class="iconify w-4 h-4 text-yellow-400" icon="uiw:star-on"></iconify-icon>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'gynaecology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/rainov.png"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rainov
        </h4>
        <p class="text-sm text-muted-400">Barber</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Specializes in haircuts and beard trimming.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <!-- <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:calendar-check-duotone"></iconify-icon>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:chat-circle-duotone"></iconify-icon>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:user-duotone"></iconify-icon>
          </button>
        </div> -->
        <div class="flex items-center justify-end gap-2">
          <iconify-icon class="iconify w-4 h-4 text-yellow-400" icon="uiw:star-on"></iconify-icon>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'neurology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/ivan.png"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Ivan
        </h4>
        <p class="text-sm text-muted-400">Barber</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Specializes in haircuts and beard trimming.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <!-- <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:calendar-check-duotone"></iconify-icon>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:chat-circle-duotone"></iconify-icon>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:user-duotone"></iconify-icon>
          </button>
        </div> -->
        <div class="flex items-center justify-end gap-2">
          <iconify-icon class="iconify w-4 h-4 text-yellow-400" icon="uiw:star-on"></iconify-icon>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'dermatology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/bozhidar.png"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Bozhidar
        </h4>
        <p class="text-sm text-muted-400">Barber</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Specializes in haircuts and beard trimming.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <!-- <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:calendar-check-duotone"></iconify-icon>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:chat-circle-duotone"></iconify-icon>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <iconify-icon class="iconify w-4 h-4" icon="ph:user-duotone"></iconify-icon>
          </button>
        </div> -->
        <div class="flex items-center justify-end gap-2">
          <iconify-icon class="iconify w-4 h-4 text-yellow-400" icon="uiw:star-on"></iconify-icon>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
</div>
